html {
  font-family: "Fredoka One", sans-serif;
  background-image: repeating-linear-gradient(-35deg, #b3fbff 1%, #c9fcff 2%, #d4fdff 3%);
}

.btn {
  color: #c09;
  border-color: #c09;
}

.btn:hover {
  border-color: #c09;
  color: #c09;
}

h1 {
  color: #990073;
  max-width: 19em;
  transform-origin: left center;
  transform: rotate(-8deg);
}

p {
  color: #c09;
  max-width: 19em;
  transform-origin: left center;
  transform: rotate(-5deg);
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
}

.btn-ghost:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, .15);
  color: #c09;
}

.cherry {
  position: absolute;
  bottom: 72%;
  left: 75%;
  animation: 1s 2s linear forwards;
  z-index: 5;
}

.vanilla-fudge {
  position: absolute;
  bottom: 53%;
  left: 75%;
  animation: 1s 1s linear forwards;
  z-index: 4;
}

.chocolate-chip {
  position: absolute;
  bottom: 39%;
  left: 78%;
  animation: 1s 1.5s linear forwards;
  z-index: 2;
}

.mint-chip {
  position: absolute;
  bottom: 24%;
  left: 75%;
  animation: 1s 1.5 linear forwards;
}

.cone {
  position: absolute;
  bottom: 3%;
  left: 75%;
  animation: 1s 5s linear forwards;
}

@keyframes ice-cream {
  0% {
    transform: translate(0em);
  }

  100% {
    transform: translate(100em);
  }
}

@keyframes banner-content {
  0% {
    filter:blur(1px);
  }

  100% {
    filter:blur(300px);
  }
}
